[run]
omit =
    */config/*
    */*/__init__.py
    */migrations/*
    */*/admin.py
    */*/apps.py
    */*/tests.py
    */*/tasks.py
    */*/services.py
    */*/urls.py
    dump.py
    load.py
    constants.py
    manage.py
    */*/management/*/*
