amqp
asgiref
billiard
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
coverage
cron-descriptor
Django
django-celery-beat
django-cors-headers
django-filter
django-timezone-field
djangorestframework
djangorestframework-simplejwt
drf-yasg
factory-boy
Faker
idna
inflection
iniconfig
kombu
packaging
Pillow
pluggy
prompt-toolkit
psycopg2-binary
PyJWT
pytest
pytest-django
python-crontab
python-dateutil
python-dotenv
pytz
PyYAML
redis
requests
six
sqlparse
stripe
typing_extensions
tzdata
uritemplate
urllib3
vine
wcwidth
